.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;

  .mainContainer {
    width: 250px;
    padding: 5px 10px;
    box-shadow: 0px 0px 5px 0px rgba(31, 61, 106, 0.14);
    // border-right: 1px solid;
  }
}
